# Copyright (c) 2011-2014, The Linux Foundation. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions are
# met:
#     * Redistributions of source code must retain the above copyright
#       notice, this list of conditions and the following disclaimer.
#     * Redistributions in binary form must reproduce the above
#       copyright notice, this list of conditions and the following
#       disclaimer in the documentation and/or other materials provided
#       with the distribution.
#     * Neither the name of The Linux Foundation nor the names of its
#       contributors may be used to endorse or promote products derived
#       from this software without specific prior written permission.
#
# THIS SOFTWARE IS PROVIDED "AS IS" AND ANY EXPRESS OR IMPLIED
# WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF
# MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT
# ARE DISCLAIMED.  IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS
# BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
# CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
# SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR
# BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY,
# WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE
# OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN
# IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
#
#

on early-init
    mkdir /firmware 0771 system system
    mkdir /storage 0551 system sdcard_r
    mkdir /persistbackup 0770 root root

    symlink /data/tombstones /tombstones
    chown system system /sys/devices/virtual/graphics/fb0/ad
    chown system system /sys/devices/virtual/graphics/fb1/ad

on init
    # Set the property to indicate type of virtual display to 0
    # 0 indicates that virtual display is not a Wifi display and that the
    # session is not exercised through RemoteDisplay in the android framework
    setprop persist.sys.wfd.virtual 0

on post-fs
    export LD_PRELOAD libNimsWrap.so

on fs
    mount_all /system/vendor/etc/fstab.qcom
    swapon_all /system/vendor/etc/fstab.qcom

    wait /dev/block/platform/msm_sdcc.1/by-name/persist
    mount ext4 /dev/block/platform/msm_sdcc.1/by-name/persist /persist nosuid nodev barrier=1
    restorecon_recursive   /persist
    mkdir /persist/data 0700 system system
    mkdir /persist/data/sfs 0700 system system
    mkdir /persist/data/tz 0700 system system

    wait /dev/block/platform/msm_sdcc.1/by-name/modem
    mount vfat /dev/block/platform/msm_sdcc.1/by-name/modem /firmware ro context=u:object_r:firmware_file:s0,shortname=lower,uid=1000,gid=1000,dmask=227,fmask=337
    write /sys/kernel/boot_adsp/boot 1

on post-fs-data
    mkdir /data/tombstones 0771 system system
    mkdir /tombstones/modem 0771 system system
    mkdir /tombstones/lpass 0771 system system
    mkdir /tombstones/wcnss 0771 system system
    mkdir /tombstones/dsps 0771 system system
    mkdir /data/usf 0700 system system

    mkdir /data/connectivity/nsrm 0771 system system
    chown system system /data/connectivity/nsrm

    #For bridgemgr daemon to inform the USB driver of the correct transport
    chown radio radio /sys/class/android_usb/f_rmnet_smd_sdio/transport

    chown system system /sys/devices/f9967000.i2c/i2c-0/0-002c/temp_comp
    chown system system /sys/devices/f9967000.i2c/i2c-0/0-002c/reg_read
    chown system system /sys/devices/f9967000.i2c/i2c-0/0-002c/stage_info
    chown system system /sys/devices/f9967000.i2c/i2c-0/0-002c/autotune
    chown system system /sys/devices/f9967000.i2c/i2c-0/0-002c/filp_config
    chown system system /sys/devices/f9967000.i2c/i2c-0/0-002c/calibrate
    chown system system /sys/devices/f9967000.i2c/i2c-0/0-002c/davetune
    chown system system /sys/devices/f9967000.i2c/i2c-0/0-002c/status
    chown system system /sys/devices/f9967000.i2c/i2c-0/0-002c/reg_write

    # fix audit daemon
    mkdir /data/misc/audit 0777 audit system
    chmod 0777 /data/misc/audit

on boot
    # bluetooth external ldo
    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/device/extldo
    chmod 0660 /sys/class/rfkill/rfkill0/device/extldo

# Allow usb charging to be disabled persistently
on property:persist.usb.chgdisabled=1
    write /sys/class/power_supply/battery/charging_enabled 0

on property:persist.usb.chgdisabled=0
    write /sys/class/power_supply/battery/charging_enabled 1

# bt_hsic_control
service bt_hsic_control /system/bin/sh /system/vendor/bin/hsic.control.bt.sh
    user root
    disabled

on property:bluetooth.hsic_ctrl=load_wlan
    start bt_hsic_control

on property:bluetooth.hsic_ctrl=unbind_hsic
    start bt_hsic_control

#start camera server as daemon
service qcamerasvr /system/vendor/bin/mm-qcamera-daemon
    class main
    user camera
    group camera system inet input graphics

#service qseecomd /system/vendor/bin/qseecomd
#   class core
#   user root
#   group root

service mpdecision /system/vendor/bin/mpdecision --avg_comp
   class main
   user root
   group root system readproc
   disabled

service thermal-engine /system/vendor/bin/thermal-engine -c /system/vendor/etc/thermal-engine.conf
   class main
   user root
   group root

service security-check1 /sbin/security_boot_check system
    class core
    oneshot

service security-check2 /sbin/security_boot_check recovery
    class core
    oneshot

service time_daemon /system/vendor/bin/time_daemon
    capabilities SYS_TIME
    class late_start
    user system
    group net_raw

service adsprpcd /system/vendor/bin/adsprpcd
   class main
   user media
   group media

service imsqmidaemon /system/vendor/bin/imsqmidaemon
    class main
    user system
    socket ims_qmid stream 0660 system radio
    group radio net_raw log oem_2950

service imsdatadaemon /system/vendor/bin/imsdatadaemon
    class main
    user system
    socket ims_datad stream 0660 system radio
    group system wifi radio inet net_raw log oem_2950 net_admin
    disabled

service wcnss-service /system/vendor/bin/wcnss_service
    class late_start
    user root
    group system wifi
    oneshot

on property:sys.ims.QMI_DAEMON_STATUS=1
    start imsdatadaemon

service ims_rtp_daemon /system/vendor/bin/ims_rtp_daemon
   class main
   user system
   socket ims_rtpd stream 0660 system radio
   group radio net_raw diag oem_2950 log
   disabled

service imscmservice /system/vendor/bin/imscmservice
   class main
   user system
   group radio net_raw diag oem_2950 log
   disabled

on property:sys.ims.DATA_DAEMON_STATUS=1
   start ims_rtp_daemon
   start imscmservice

# corefile limit and ETB enabling
on property:persist.debug.trace=1
    write /sys/module/coresight_event/parameters/event_abort_enable 1

service bridgemgrd /system/vendor/bin/bridgemgrd
    class late_start
    user radio
    group radio oem_2950
    disabled

service port-bridge /system/vendor/bin/port-bridge /dev/mhi_pipe_32 /dev/ttyGS0
    class main
    user radio
    group radio system inet
    disabled

service qmiproxy /system/vendor/bin/qmiproxy
    class main
    user radio
    group radio oem_2950
    disabled

service gpsone_daemon /system/vendor/bin/gpsone_daemon
    class late_start
    user gps
    group gps inet net_raw
    disabled

service quipc_igsn /system/vendor/bin/quipc_igsn
    class late_start
    user gps
    group inet gps oem_2950
    disabled

service quipc_main /system/vendor/bin/quipc_main
    class late_start
    user gps
    group gps net_admin wifi inet oem_2950
    disabled

service location_mq /system/vendor/bin/location-mq
    class late_start
    user gps
    group gps
    disabled

service xtwifi_inet /system/vendor/bin/xtwifi-inet-agent
    class late_start
    user gps
    group inet gps
    disabled

service xtwifi_client /system/vendor/bin/xtwifi-client
    class late_start
    user gps
    group net_admin wifi inet gps
    disabled

service lowi-server /system/vendor/bin/lowi-server
    class late_start
    user gps
    group gps net_admin wifi inet oem_2950
    disabled

service ds_fmc_appd /system/vendor/bin/ds_fmc_appd -p "rmnet0" -D
    class late_start
    group radio wifi inet
    disabled
    oneshot

on property:persist.data.ds_fmc_app.mode=1
    start ds_fmc_appd

service ath6kl-service /system/vendor/bin/ath6kl-service
    class late_start
    user root
    oneshot

service qca6234-service /system/bin/sh /system/vendor/bin/qca6234-service.sh
    class late_start
    user root
    oneshot

service trigger_prov /system/bin/sh /sbin/check_prov.sh
    class late_start
    user root
    oneshot

#restart Start RIL script once disk decrypts
on property:vold.decrypt=trigger_reset_main
    start startril

#conditional start RIL for non-wifi devices
service startril /system/vendor/bin/wan_start
    class main
    oneshot

on property:wlan.driver.status=ok
    chown system system /sys/kernel/debug/ieee80211/phy0/ath6kl/dtim_ext

